<div class="card-content">
    <div class="card-img">
        <img src="https://placeimg.com/360/280/nature" alt="">
        <span>
            <h4>{{destino.nombre}}</h4>
        </span>
    </div>
    <div class="card-desc">
        <h3>{{destino.nombre}}</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In facilisis ornare nibh, sed ultricies ipsum.</p>
        <a href="#" class="btn-card" (click)="ir()">Ir...!</a>
        <span [style.display]="destino.isSelected() ? '' : 'none'">- PREFERIDO -</span>
    </div>
</div>